<form class="education-form">
    <header>Education Details</header>
    <mat-form-field class="degree-name">
        <mat-label>Degree name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="clg-name">
        <mat-label>College Name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="city">
        <mat-label>City</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="cgpa">
        <mat-label>CGPA</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="start-date">
        <mat-label>Course Start date</mat-label>
        <input type="date" matInput>
    </mat-form-field>
    <mat-form-field class="end-date">
        <mat-label>Course End date</mat-label>
        <input type="date" matInput>
    </mat-form-field>
</form>