<form
  [formGroup]="experienceForm"
  (ngSubmit)="saveDetails()"
  class="experience-form"
>
  <header>Experience Details</header>
  <div class="fields">
    <mat-form-field class="company-name">
      <mat-label>Company name</mat-label>
      <input formControlName="companyName" matInput />
    </mat-form-field>
    <mat-form-field class="job-title">
      <mat-label>Job title</mat-label>
      <input formControlName="jobTitle" matInput />
    </mat-form-field>
    <mat-form-field class="city">
      <mat-label>City</mat-label>
      <input formControlName="city" matInput />
    </mat-form-field>
    <mat-form-field class="start-date">
      <mat-label>Start date</mat-label>
      <input formControlName="startDate" type="date" matInput />
    </mat-form-field>
    <mat-form-field class="end-date">
      <mat-label>End date</mat-label>
      <input formControlName="endDate" type="date" matInput />
    </mat-form-field>
    <h3>Job Summary</h3>
    <jodit-editor
      formControlName="jobSummary"
      [config]="editorConfig"
    ></jodit-editor>
  </div>
  <button mat-raised-button class="save-btn" type="submit">Save</button>
</form>
