<form class="experience-form">
    <header>Experience Details</header>
    <mat-form-field class="company-name">
        <mat-label>Company name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="job-title">
        <mat-label>Job title</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="city">
        <mat-label>City</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="start-date">
        <mat-label>Start date</mat-label>
        <input type="date" matInput>
    </mat-form-field>
    <mat-form-field class="end-date">
        <mat-label>End date</mat-label>
        <input type="date" matInput>
    </mat-form-field>
    <mat-form-field class="summary">
        <mat-label>Summary</mat-label>
        <textarea matInput placeholder="Provide job description summary"> </textarea>
    </mat-form-field>
</form>