<form class="basic-details-form">
    <header> Basic Information</header>
    <mat-form-field class="full-name">
        <mat-label>Full name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="job-title">
        <mat-label>Job title</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="email">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. hello@example.com">
    </mat-form-field>
    <mat-form-field class="phone">
        <mat-label>Phone</mat-label>
        <input type="number" matInput>
    </mat-form-field>
    <mat-form-field class="location">
        <mat-label>Location</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="summary">
        <mat-label>Summary</mat-label>
        <textarea matInput placeholder="Provide profile summary"> </textarea>
    </mat-form-field>
</form>